# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
dist/
*.egg-info/

# Virtual Environments
.venv/
venv/

# Environment Variables
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Linters
.ruff_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db
